In [141]:
import pandas as pd

# 创建两个示例DataFrame
data1 = {'A': [1, 2, 3]}
data2 = {'B': [2, 3, 4]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [142]:
df1

   A
0  1
1  2
2  3

In [143]:
df2

   B
0  2
1  3
2  4

In [144]:
pd.concat([df1, df1])

   A
0  1
1  2
2  3
0  1
1  2
2  3

In [145]:
pd.concat([df2, df2], axis=1)

   B  B
0  2  2
1  3  3
2  4  4

In [146]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df  #%%

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [147]:
import pandas as pd

# 创建两个示例DataFrame
data1 = {'A': [1, 2, 3]}
data2 = {'B': [2, 3, 4]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [148]:
df1

   A
0  1
1  2
2  3

In [149]:
df2

   B
0  2
1  3
2  4

In [150]:
pd.concat([df1, df1])

   A
0  1
1  2
2  3
0  1
1  2
2  3

In [151]:
pd.concat([df2, df2], axis=1)

   B  B
0  2  2
1  3  3
2  4  4

In [152]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [153]:
import numpy as np

df1 = df.pivot_table(index=['A'], aggfunc=[np.mean, np.std]).iloc[0:1]

In [154]:
df1

    mean            std
       D    E         D         E
A
bar  5.5  8.0  1.290994  1.414214

In [155]:
d2 = pd.DataFrame([[1, 2, 3]], columns=["dfsdf", "s2", "s3"])
d2

   dfsdf  s2  s3
0      1   2   3

In [156]:
df1[d2.columns] = d2.values.tolist()
df1

    mean            std           dfsdf s2 s3
       D    E         D         E
A
bar  5.5  8.0  1.290994  1.414214     1  2  3